<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}通幽读书{% endblock %}</title>
    {% block head %}{% endblock %}
    <script type="text/javascript">
      $(document).ready(function() {
        $('.sidenav').sidenav()
      })
      $(document).ready(function() {
        $('.modal').modal()
      })
    </script>
  </head>
  <body class="{% block bgcolor %}grey lighten-5{% endblock %}">
    <nav class="{% block navcolor %}orange lighten-2{% endblock %}">
      <div class="nav-wrapper">
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"
          ><i class="material-icons">menu</i></a
        >
        <ul class="right hide-on-med-and-down">
          <li>
            <a class="modal-trigger" href="#modal1"
              ><i class="material-icons left">cloud</i>小程序</a
            >
          </li>
          <li>
            <a href="{{ url_for('index') }}"
              ><i class="material-icons left">home</i>主页</a
            >
          </li>
          <li>
            <a href="{{ url_for('contact') }}"
              ><i class="material-icons left">chat</i>联系</a
            >
          </li>
          <li>
            <a href="{{ url_for('help') }}"
              ><i class="material-icons left">help</i>帮助</a
            >
          </li>
        </ul>
        <form class="hide-on-med-and-down" action="{{ url_for('search') }}">
          <div class="right input-field">
            <input
              id="search"
              type="search"
              name="kw"
              autocomplete="off"
              required
            />
            <label class="label-icon" for="search"
              ><i class="material-icons">search</i></label
            >
            <i class="material-icons">close</i>
          </div>
        </form>
        <ul class="sidenav" id="mobile-demo">
          <li>
            <a href="{{ url_for('index') }}"
              ><i class="material-icons left">home</i>主页</a
            >
          </li>
          <li>
            <a href="{{ url_for('contact') }}"
              ><i class="material-icons left">chat</i>联系</a
            >
          </li>
          <li>
            <a href="{{ url_for('help') }}"
              ><i class="material-icons left">help</i>帮助</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <div id="modal1" class="modal center row">
      <div class="modal-content">
        <h5>微信小程序</h5>
        <img
          src="static/images/wechat-applet.jpg"
          style="height: 10rem;width: 10rem;"
        />
      </div>
      <div class="modal-action modal-close waves-effect row">好的</div>
    </div>
    {% block body %}
    <footer class="page-footer grey lighten-5">
      <div class="container hide-on-med-and-down">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="black-text">页脚内容</h5>
            <p class="black-text text-lighten-4">本站书籍信息来自互联网</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="black-text">相关链接</h5>
            <ul>
              <li>
                <a class="black-text" href="https://qidian.com">起点中文网</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container black-text">
          <a
            class="black-text text-lighten-4"
            href="http://www.miitbeian.gov.cn/"
            target="_blank"
            >粤 ICP 备 18026257 号 - 2</a
          >
          <a class="black-text text-lighten-4 right" href="/help">帮助</a>
        </div>
      </div>
    </footer>
    {% endblock %}
  </body>
</html>
