<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="http://code.jquery.com/jquery-latest.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>{% block title %}曲径读书{% endblock %}</title>
{% block head %}{% endblock %}
<script type="text/javascript">
$( document ).ready(function(){
  $(".button-collapse").sideNav();
})
</script>
</head>
<body class="{% block bgcolor %}grey lighten-5{% endblock %}">
  <nav class="{% block navcolor %}orange lighten-2{% endblock %}">
    <div class="nav-wrapper">
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{{ url_for('index') }}"><i class="material-icons left">home</i>主页</a></li>
        <li><a href="{{ url_for('add_novel') }}"><i class="material-icons left">add</i>添加</a></li>
        <li><a href="{{ url_for('label') }}"><i class="material-icons left">add</i>标签</a></li>
        <li><a href="{{ url_for('contact') }}"><i class="material-icons left">chat</i>联系</a></li>
      </ul>
      <form class="hide-on-med-and-down" action="{{ url_for('search') }}">
        <div class="right input-field">
          <input id="search" type="search" name="kw" autocomplete="off" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="{{ url_for('index') }}"><i class="material-icons left">home</i>主页</a></li>
        <li><a href="{{ url_for('add_novel') }}"><i class="material-icons left">add</i>添加</a></li>
        <li><a href="{{ url_for('contact') }}"><i class="material-icons left">chat</i>联系</a></li>
      </ul>
    </div>
  </nav>
{% block body %}
<footer class="page-footer grey lighten-5">
  <div class="container hide-on-med-and-down">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="black-text">页脚内容</h5>
        <p class="black-text text-lighten-4">本站书籍信息来自互联网</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="black-text">相关链接</h5>
        <ul>
          <li><a class="black-text" href="https://qidian.com">起点中文网</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container black-text">
    © 2018 Copyright 文本
    <a class="black-text text-lighten-4 right" href="/help">帮助</a>
    </div>
  </div>
</footer>
{% endblock %}
</body>
</html>