{% extends "base.html" %} {% block body %}
<div class="container">
  <div class="row">
    <div class="col s12 m12">
      <div class="card blue-grey lighten-5">
        <div class="card-content">
          <h5>有什么想法，你可以联系我 :)</h5>
          <span class="card-title">邮箱</span>
          <p>rrcgat@gmail.com</p>
          <span class="card-title">微信</span>
          <p>rrcg77724</p>
        </div>
        <div class="card-action">
          <a href="https://github.com/rrcgat/novel-info">帮助改进</a>
          <a class="modal-trigger" href="#modal2">赞赏一下</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modal2" class="modal center row">
  <div class="modal-content">
    <h5>你有了收获才有价值</h5>
    <img
      src="static/images/mm_reward_qrcode.png"
      style="height: 10rem;width: 10rem;"
    />
  </div>
  <div class="modal-action modal-close waves-effect row">好的</div>
</div>
{% endblock %}
