{% extends "base.html" %}
{% from "macros.html" import render_field %}

{% block head %}
<script>
  var tags = new Set({{ tags }})
  var chipData = []
  var csrf_token = "{{ csrf_token() }}";
  for (tag of tags) {
    chipData.push({tag: tag})
  }
  function formToJson(formData) {
    let unindexed_array = formData;
    let indexed_array = {};
    $.map(unindexed_array, function(n, i) {
      indexed_array[n['name']] = n['value'];
    });
    return indexed_array;
  }
  $(document).ready(function() {
    $('select').material_select();
    $('#editNovel').click(function() {
      let data = formToJson($('#editForm').serializeArray())
      if (data.book_name === '') {
        Materialize.toast('请输入书名', 4000)
        return false
      }
      data.tags = Array.from(tags)
      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrf_token);
          }
        }
      });
      $.ajax({
        url: "{{ url_for('edit') }}",
        type: 'POST',
        data: JSON.stringify(data),
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        async: true,
        success: function(res) {
          Materialize.toast(res.data, 3000)
          setTimeout("window.location.href='{{ url_for('book_info', book_id=book.id)}}'", 3000)
        },
        fail: function(res) {
          $('#container').html(res.error);
        }
      });
      return false
    });
    $('.chips').material_chip({
      data: chipData
    });
    $('.chips').on('chip.add', function(e, chip){
      tags.add(chip.tag)
    });
    $('.chips').on('chip.delete', function(e, chip){
      tags.delete(chip.tag)
    });
  });
</script>
{% endblock %}

{% block body %}

<div class="container">
  <h3 class="center-align">编辑</h3>
  <div id="container" class="container center-align orange-text text-darken-2"></div>
  <div class="row">
    <form class="col s12" id="editForm" action="" method="POST">
      {% for field in form %}
        {{ render_field(field) }}
      {% endfor %}
      <label>自定义标签，Enter 添加</label>
      <div class="chips"></div>
      <div class="center-align">
        <button id="editNovel" class="btn orange waves-effect waves-light" name="action">修改</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}