{% extends "base.html" %}
{% from "macros.html" import pagination_widget, render_book_list %}


{% block head %}
<style type="text/css">
.book-title {
  padding-top: 2rem;
}
.book-block {
  display: flex;
  line-height: 1rem !important;
  justify-content: space-between;
}
.book-bottom {
  padding-bottom: 2rem;
}
.book-tag {
  color: black;
  font-size: 13px;
  border-radius: 15px;
  padding-top: 1px;
  padding-right: 5px;
  padding-left: 5px;
  border: 1px solid;
}
</style>
<script type="text/javascript">
  $(document).ready(function(){
    $('.collapsible').collapsible();
  });
</script>
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">{{ render_book_list(books) }}
  </div>
  <div class="row">{{ pagination_widget(pagination, '.index') }}</div>
</div>
{{ super() }}
{% endblock %}